<%
 @page_header = "Products"
  @page_sub_header = "overview"
  @breadcrumbs = ["Products"]
%>
<div class="row">
	<div class="col-xs-12">
		<h3 class="header smaller lighter blue">All Products</h3>
		<div class="table-header">
			Product Listing
		</div>
		<div class="table-responsive">
			<table id="all-products-table" class="table table-striped table-bordered table-hover" data-source="<%=items_url(format: "json")%>">
				<thead>
					<tr>
						<th class="center sorting_disabled"><label>
							<input type="checkbox" class="ace" />
							<span class="lbl"></span></label></th>
						<th>Barcode </th>
						<th>Name </th>
						<th class="hidden-480">Manufacturer </th>
						<th class="hidden-480">Category </th>
						<th>Price </th>
						<th><i class="icon-time bigger-110 hidden-480"></i>Update </th>
						<th class="sorting_disabled"></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
