<%
  @page_header = "Sales"
  @page_sub_header = "all transactions"
  @breadcrumbs = [["Sales",sales_path], "All Transactions"]
%>
<div class="row">
	<div class="col-xs-12">
		<h3 class="header smaller lighter blue">All Transactions</h3>
		<div class="table-header">
			Transaction Summaries
		</div>
		<div class="table-responsive">
			<table id="all-sales-table" data-source="<%= sales_all_path(format: "json")%>" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="center"><label>
							<input type="checkbox" class="ace" />
							<span class="lbl"></span></label></th>
						<th>Date <i class="icon-time bigger-110 hidden-480"> </th>
						<th>Shop ID </th>
						<th>Item Name </th>
						<th class="hidden-480">Barcode </th>
						<th>Quantity </th>
						<th class="hidden-480">Price </th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
