<%
 @page_header = "Sales"
  @page_sub_header = "overview"
  @breadcrumbs = [["Sales",sales_path], "Overview"]
%>

<div class="row">
	<div class="col-sm-4">
		<div class="widget-box">
			<div class="widget-header">
				<h4>Upload Shop Transaction</h4>
				<span class="widget-toolbar"> <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a> <a href="#" data-action="close"><i class="icon-remove"></i></a> </span>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form action="sales/transaction_dump" enctype="multipart/form-data" method="post">
						<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
						<input type="file" name="transactions" id="transaction-upload" />
						<div class="form-group">
							<label for="form-field-select-shop-id">For Shop</label>
							<div>
								<select name="shop_id" class="chosen-select" data-width="100%" data-placeholder="Choose a Shop...">
									<% @shops.each do |shop| %>
									<option value="<%= shop.id%>"><%= "%05d" % shop.s_id%></option>
									<% end %>
								</select>
							</div>
						</div>
						<div class="space-8"></div>
						<button class="btn btn-success btn-block" type="submit">
							<i class="icon-cloud-upload bigger-110"></i>
							Upload
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>